@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---========================--- */
/* ---P1: Page 1 SIDEBAR ---- */
/* ---========================--- */

[data-layout="p1"] {
  display: grid;
  grid-template-columns: 180px 1fr;
  background-color: #f0f0f8;
  @apply gap-24 h-screen;
}
[data-container="p1c1_sidebar"] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 242px;

  @apply bg-white  min-h-screen;
}

[data-header="p1c1_header"] {
  display: flex;
  align-items: center;
  justify-content: center;
  @apply gap-3 mt-5;
}

[data-header="p1c1_header"] img {
  width: 30px;
  height: 30px;
}

[data-heading="p1c1h1_title"] {
  color: #5e81f4;
  width: 91px;
  height: 15px;
  @apply font-semibold text-[16px];
}
/* ---========================--- */
/* ---Navigation ---------------- */
/* ---========================--- */

[data-navigation="p1c2w1_sidebar-nav"] {
  background-color: white;
  @apply ml-14 mt-8;
}

[data-list="p1c2w1l_list"] {
  list-style: none;

  @apply flex flex-col gap-5;
}

[data-item="p1c2w1l1_list"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-image="p1c2w1l1i1"] {
  @apply w-[16px] h-[16px];
}
[data-div="p1c2w1l1d1"] {
  @apply flex gap-4;
}
[data-item="p1c2w1l1_list"] img {
  width: 22px;
  height: 22px;
}

[data-item="p1c2w1l1_list"] a {
  color: #9197b3;
  line-height: 1;
  @apply text-[14px];
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
[data-widget="sidebar_widget"] {
  height: 64px;
  width: 242px;
  @apply flex  gap-3;
}
[data-widget="sidebar_widget"] img {
  height: 30px;
  width: 30px;
  @apply ml-14;
}
[data-widget="sidebar_widget"] h2 {
  @apply font-bold text-[14px];
  color: #8181a5;
}

/* ---========================--- */
/* ---P1: Dashboard Contents ---- */
/* ---========================--- */
[data-container="p1mw1_widget"] {
  @apply flex justify-between mt-2 mr-10;
}
[data-container="p1mw2_widget"] {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 16px;
  @apply mt-5;
}
[data-grid="p1mw2g1_grid"] {
  width: 500px;
  height: 280px;
  background-color: white;
}
[data-header="p1h1_heading"]{
  font-family: 'Lato';
  font-size: 22px;
  font-weight: lighter;
}
[data-header="p1h2_heading"]{
  font-family: 'Lato';
  font-size: 26px;
  font-weight: bold;
}
[data-header="p1h3_heading"]{
  font-family: 'Lato';
  font-size: 20px;
  font-weight:normal;
}
/* ---========================--- */
/* ---P1: Dashboard GRID:1 ---- */
/* ---========================--- */
[data-row="p1g1r1_row"] {
  @apply flex justify-between mt-2;
}

[data-div="p1mw2g1d1_div"] {
  @apply flex justify-between mt-2;
}
[data-heading="p1mw2g1d1h1_heading"] {
  @apply ml-5;
  font-size: 18;
  font-weight: bold;
  font-family: "Lato";
}
[data-heading="p1mw2g1d1h2_heading"] {
  @apply mr-12;
  font-size: 14;
  font-weight: bold;
  font-family: "Lato";
}
[data-row="p1g1g1row_data"] {
  @apply flex items-center;
  gap: 8px;
}
[data-row="p1g1r_row"] {
  @apply flex justify-between gap-5 mt-2;
}
[ data-image="p1mw2t_image" ]{
  @apply ml-5;
}
[data-row="p1g1g1row_icon"] {
  @apply flex justify-center items-center gap-4;
}

[data-heading="p1mw2g1d2h3_heading"] {
  color: #8181a5;
  font-family: "Lato";
  font-weight: bold;
  font-size: 12px;
  @apply ml-5;
}

[data-heading="p1mw2g1d2h4_heading"] {
  color: #8181a5;
  font-family: "Lato";
  font-weight: bold;
  font-size: 12px;
  @apply mr-5;
}

[data-image="p1mw2t_image"] img {
  width: 52px;
  height: 49px;
}

[data-heading="p1mw2t_text"] {
  font-family: "Lato";
  font-size: 12px;
  font-weight: bold;
}

[data-image="p1mw2a1icon_image"] img {
  width: 58px;
  height: 40px;
}
[data-div="p1mw2d4_div"]{
  @apply ml-5 mr-5 mt-2 ;
}

[ data-input="p1mw2d4_input" ]{
  width: 360px;
  height: 25px;
  border: 1px solid #5E81F4;
}
[data-button="p1mw2d4_button"]{
  background-color: #5E81F4;
  font-size: 14;
  font-family: 'Lato';
  font-weight: bold;

  @apply text-white text-center rounded-md px-4 py-1 ;
}
/* ---========================--- */
/* ---P1: Dashboard GRID:2 ---- */
/* ---========================--- */
[data-heading="p1mw2g2h1_heading"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
  @apply mt-2 ml-5;
}

[ data-div="p1mw2g2d1_div"]{
  @apply flex gap-7 mt-5;
}

[data-div="p1mw2g2d1ex1_exchnage"]{
  @apply ml-5;
}
[data-input="p1mw2g2input1_input"]{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
[ data-div="p1mw2g2d3_div"]{
width: 156px;
height: 130px;
  
  @apply flex flex-col justify-center items-center text-blue-700 bg-blue-100;
}
[data-button="p1mw2g2b1_button"]{
  @apply mt-2 text-white bg-blue-600 rounded-md px-4 py-2 text-center ml-2 ;
}
[ data-heading="p1mw2g2h5_heading"]{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
}
[data-dropdown="p1mw2g2d1_dropdown"]{
  color: #B7B5B6;

}
[data-heading="p1mw2g2h6_heading"]{
  font-size: 32px;
  font-weight: bold;
  font-family: 'Lato';
  color: #5E81F4;
  outline: none;
  border: none;
}

[ data-div="p1mw2g2d4_div"]{
  @apply ml-5;
}
/* ---========================--- */
/* ---P1: Dashboard Grids:Grid#3 ---- */
/* ---========================--- */

[data-div="p1mw2g3d1_div"]{
  @apply flex justify-between mt-5 ml-5 mr-5;
}

[data-heading="p1mw2g3h1_heading"]{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
}
[data-heading="p1mw2g3h2_heading"]{
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
}
[data-row="p1mw2g3r_row"]{
  background-color: #F5F5FA;
}
 [data-row="p1mw2g3h_heading"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 12px;
  color: #8181A5
 }
 [data-row="p1mw2g3r1_row"]{
  background-color: #F5F5FA;
 }

[data-row="p1mw2g3h_data"]{
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}
[data-table="p1mw2g3t1_table"]{
  @apply ml-5 mt-2;
  border-spacing:20px;
  border-collapse: separate;
  tr{
    background-color: #F5F5FA;
    
  }
}
[data-button="p1mw2g3b1_button"]{
  background-color: #F5F5FA;
  color: #7EC7AC;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 12px;
}


/* ---========================--- */
/* ---P1: Dashboard Grid:Grid#4 ---- */
/* ---========================--- */

[data-heading="p1w2mg4h1_heading"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;

}
[data-heading="p1w2mg4h2_heading"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 12px;
}
[ data-row="p1w2mg4r1_row"]{
  text-align: left;
  vertical-align: middle;
  @apply flex gap-3 justify-center items-center;
}
[ data-table="p1w2mg4t1_table"]{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2px;
  @apply ml-5;
  
}
[data-heading="p1w2mg4h3_heading"]{
  text-align: left;
  font-family: 'Laot';
  font-size: 12px;
  font-weight: bold;
  color:#8181A5
}
[data-heading="p1w2mg4h4_heading"]{
  
  font-family: 'Laot';
  font-size: 14px;
  font-weight: bold;

}
[data-row="p1w2mg4r1_row"] {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

[data-image="p1g4im1_image"]{
  height: 42px;
  width: 42px;
}
/* ---========================--- */
/* ---P1: Recoord Contents ---- */
/* ---========================--- */
[data-div="p1c1record_container"] {
  @apply flex justify-between;
}
[data-div="p1c3record_container"] {
  @apply flex justify-between;
}
[data-div="p1c4record_container"] {
  @apply flex justify-between items-center;
}

[data-heading="p1c1recordh1_heading"]{
  font-size: 20px;
  font-family: 'Lato';
  font-weight: bold;
}

[data-heading="p1c1recordh2_heading"]{
  font-size: 20px;
  font-family: 'Lato';
  font-weight: normal;
}

[ data-div="p1c1record_container"]{
  @apply mt-5 mr-10;
}
[data-div="p1c2record_container"]{
  @apply bg-white mr-10 mt-5;
}

[data-button="p1c3recordb1_button"]{
  width: 154px;
  height: 40px;
  @apply rounded-md  text-blue-600 bg-blue-100;
}

[data-heading="p1c4recordsh1_heading"]{
  font-size: 12px;
  font-family: 'Lato';
  font-weight: bold;
  color: #8181A5;
}
[data-heading="p1c4recordsh2_heading"]{
  font-size: 12px;
  font-family: 'Lato';
  font-weight: bolder;
  outline: none;
  border: none;

  
}
[data-row="p1c4row1_heading"]{
  font-size: 16px;
  font-family: 'Lato';
  font-weight: bold;
  color: #8181A5;
 
}
[data-table="p1c4t1_table"] {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 10px; 
}

[data-row="p1c4row1_row"] {
  width: 48px;

}


  [data-row="p1c4row1_heading"]{
    padding: 7px;
    text-align: left; 
    vertical-align: middle;
  }
  [data-row="p1c4row1_data"]{
    padding: 7px;
    text-align: left; 
    vertical-align: middle;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
  }
[data-button="p1c4b1_new"]{
  
  background-color: white;
  color:#F4BE5E;
  @apply rounded-md;
}

[data-button="p1c4b1_active"]{
  
  background-color: white;
  color:#7CE7AC;
  @apply rounded-md ;
}


[data-div="p1c5"]{
  @apply flex justify-center gap-10 mt-2;
}
[data-div="p1c5"] h {
  @apply font-extrabold;
}








/* ---========================--- */
/* ---P1: Recoords ALL Contents ---- */
/* ---========================--- */


[ data-div="p1c1records_container"]{
  @apply bg-white mr-14 ;
}

[data-button="p1c1recordsb1_button"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 20px;
  @apply ml-5;
}
[data-label="p1c1recordsl1_lable" ]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 14px;
}
[data-label="p1c1recordsl1_label" ]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
}

[data-form="p1c1recordsf_form"]{
  @apply flex justify-between ml-5 mr-16 pt-5;
}

[  data-label="p1c1recordsl1_input"]{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 12px;
  color: #8181A5;
}


[ data-button="p1c1recordsb2_button"] {
  width: 181px;
  height: 39px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Lato';
  font-size: 20px;
  background-color: white;
  @apply rounded-2xl gap-5;
 
}

[data-button="p1c1recordsb2_button"] .off .on {
@apply  py-2;
}

[data-button="p1c1recordsb2_button"] .off {
  color: red;

  border-color: red;
}

[data-button="p1c1recordsb2_button"] .on {
  color: black;
}


[data-div="p1c2div_toggle"]{
  @apply text-center;
}


[data-label="p1c1recordsl1_input"]{

  outline: none;
  border: 1px solid;
  background-color: white;
  @apply rounded-md px-3 py-1;
}
[ data-label="p1c1recordsl1_lable"]{
  @apply m-5;
}

[data-grid="p1c1records_grid"]{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  

}
[data-button="p1c1recordsb3_button"]{
  width: 128px;
  height: 46px;
  background-color: rgba(255, 128, 139, 0.1);
  color: red;
  border: #FF808B;
  border: 1px solid;
  @apply ml-96 rounded-2xl mt-7 ;

}
[ data-line="p1l1_line"]{
  border: 0;
  border-top: 1px solid black; 
  margin: 20px 0; 

}
[data-table="p1c1recordst2_table"]{
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 5px; 
 text-align: left;

}
[data-heading="p1c4recordsd1_data"]{
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #8181A5;
  padding: 10px 10px;
  background-color: rgba(245, 245, 250, 0.4);
}
[data-heading="p1c4recordsd2_data"]{
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  padding: 12px 12px;
  background-color: rgba(245, 245, 250, 0.4);

}
[data-button="p1c4recordsb_button"]{
  background-color: rgba(255, 128, 139, 0.1);
  color: #FF808B;
  
  @apply rounded-lg ;
}
/* ---P1:Customer Contents ---- */
/* ---========================--- */
[data-div="p1c1customer_container"] {
  @apply flex justify-between;
}
[data-div="p1c2customer_container"] {
  @apply flex;
}
[data-div="p1c3customer_container"] {
  @apply flex justify-between;
}
[data-div="p1c4customer_container"] {
  @apply flex;
}

/* ---========================--- */
/* ---P2:Customer Contents ---- */
/* ---========================--- */
[data-div="p2c2customer_container"] {
  @apply flex justify-between;
}
[data-div="p2c3customer_container"] {
  @apply flex;
}
[data-div="p2c2customer_container"]{
  background-color: white;
  @apply mr-14;

}
[data-div="p2c3customer_container"]{
  background-color: white ;
@apply mr-10;
}
[data-table="p1c1_table"]{
  background-color: white;
  width: 95%;
  border-collapse: separate; 
  border-spacing: 10px; 
  
}
[data-row="p1c5_data1"]{
  @apply flex gap-3 items-center;
}
[data-row="p1c5_data1"] img {
height: 48px;
width: 48px;
}
[data-row="p1c5_data2"] {
  @apply flex gap-2;
}
[data-row="p1c5_data2"] img {
  width: 23px;
  height: 20px;
 
}
[ data-heading="p1c5h1_heading"]{
  font-family: 'Lato';
font-size: 16px;
font-weight: bold;
color:#8181A5;
}
[data-heading="p1c5h2_name"]{
  font-family: 'Lato';
font-size: 16px;
font-weight: bold;

}
[data-heading="p1c5h2_email"]{
  
  font-family: 'Lato';
font-size: 16px;
font-weight: normal;
}
[data-heading="p1c5h2_time"]{
  font-family: 'Lato';
font-size: 12px;
font-weight: bold;
font-weight: bold;
color:#8181A5;
}
[ data-button="p1c5b1_pending"]{
  color: #F4BE5E;
  background-color: #FFFF;
  width: 100PX;
  height: 34px;
}
[ data-button="p1c5b1_active"]{
  color: #7CE7AC;
  background-color: #FFFF;
  width: 100PX;
  height: 34px;
}
[data-button="p1c5b_add"]{
  width: 140px;
  height: 40px;
  @apply bg-blue-100 text-blue-600 rounded-md mt-5 ml-2;
}

/* ---========================--- */
/* ---P1:Reports Contents ---- */
/* ---========================--- */
[data-div="p1c1recordsd_div" ]{
  @apply flex justify-between mt-5;
}
[data-div="p1c1recordsd1_div"]{
  @apply flex gap-5 mr-16;
}
[data-heading="p1c1reportsh1_heaading"]{
  font-family: 'Lato';
font-size: 20px;
font-weight: bold;

}
[data-grids="p1reportsgrids"]{
  @apply mt-10;
}
[ data-div="p1c1reports1_container"]{
  width: 700px;
  height: 300px;
  background-color: white;
}
[ data-div="p1c1reports2_container"]{
  width: 700px;
  height: 170px;
  background-color: white;
}
[ data-div="p1c1reports3_container"]{
  width: 270px;
  height: 200px;
  background-color: white;
}
[ data-div="p1c1reports4_container"]{
  width: 270px;
  height: 200px;
  background-color: white;
}
[data-grids="p1reportsgrids"]{
  @apply flex gap-10;
}
[data-grid="p1reportsg1"]{
  @apply flex flex-col gap-5;
}
[data-grid="p1reportsg2"]{
  @apply flex flex-col gap-5;
}
/**Reports:reposrtt1 chart **/
[data-div="p1c1recordschart_div"]{
  width: 100%;
}
[data-div="p1c1reportschart_div3"]{
  @apply flex justify-between mt-3 mr-1 ml-2;
}
[ data-heading="p1c1reportsh1_header"]{
  font-family: 'Lato';
font-size: 18px;
font-weight: bold;
}
[data-div="p1c1reportschart_div2" ]{
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

[ data-button="p1c1reports_b1" ]{
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
  font-size: 14px;
}

[ data-button="p1c1reports_b2" ]{
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  color: #8181A5;
  border-radius: 4px;
  font-size: 14px;
}



.chart-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.chart {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 200px;
  border-bottom: 2px solid #ddd;
  gap: 5px;
}

[data-div="chartdiv"] {
  display: flex;
  flex-direction: row; 
  align-items: end;
  gap: 5px;
  height: 100%; 
}


.bar1 {
  background-color: #5E81F4;
  width: 10px;
  border-radius: 4px 4px 0 0;
  height: var(--height); 
}

.bar2 {
  background-color: #7CE7AC;
  width: 10px; 
  border-radius: 4px 4px 0 0;
  height: var(--height); 
}







/*report 3*/

[data-div="p1c1reports3d"]{
  @apply ml-10 mt-5;
}
[ data-heading="p1c1reportsheading_h1"]{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
}
[ data-heading="p1c1reportsheading_h2"]{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: normal;
  color: #8181A5;
  background-color: rgba(245, 245, 250, 0.4);
  @apply p-1;

}
[data-table="p1c1reportstable"]{
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 5px; 
 text-align: left;
}
[data-header="tableheadingrow"]{
  background-color: rgba(245, 245, 250, 0.4);
}
[data-row="tabledata"]{
  align-items: center;

  @apply flex gap-2 ;
}
[ data-header="tableheading"]{
  font-family: 'Lato';
  font-size: 12px;
  font-weight: normal;
  color: #8181A5;
}
[data-header="tabledatad"]{
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  
}